// these are the variables
$sidebar-bg-color: #363740;
$sidebar-hover-color: #3F4049;
$header-bg-color: #f8f9fa;
$content-bg-color: #f7f8fc;
$card-bg-color: #ffffff;
$sidebar-txt-on-hover: #DDE2FF;
$font-color: #a4a6b3;

// styling for mobile screen 
body {
    font-family: 'Mulish', sans-serif;
    background-color: $content-bg-color;
}


// media query for responsive design (dektop)
@media only screen and (min-width: 650px) {

    // style for side bar
    .sidebar {
        position: fixed;
        /* so it stays fixed in its position*/
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        background-color: $sidebar-bg-color;
        color: white;
        padding: 0;
        overflow-y: auto;
        /* if i scroll sidebar still stays  */
        display: flex;
        flex-direction: column;

        #logo-div {
            display: flex;
            align-items: center;
            padding-left: 25px;
            padding-bottom: 50px;
            padding-top: 10px;
        }

        #logo-icon {
            width: 32px;
            margin-right: 10px;
        }

        h4 {
            text-align: center;
            font-weight: bold;
            color: $font-color;
            font-size: 19px;
            padding-top: 10px;
        }

        a {
            color: $font-color;
            padding: 10px 20px;
            text-decoration: none;
            display: block;
            font-size: 16px;

            i {
                width: 20px;
                margin-right: 10px;
                text-align: center;
            }

            // styling for active one in sidebar
            &.active {
                color: $sidebar-txt-on-hover;
                border-left: 4px solid $sidebar-txt-on-hover;
                background-color: $sidebar-hover-color;
            }

            // this is for hover (not necessary)
            &:hover {
                background-color: $sidebar-hover-color;
                color: $sidebar-txt-on-hover;
            }
        }
    }


    // styling for header
    .header {
        .profile-info {
            .icon-group {
                .notification-badge {
                    top: 3px;
                    right: 25px;
                }
            }
        }
    }

    // styling of cards with blue hover
    .stats-card {
        
        padding: 40px;
    }

    // styling for graph card (left and right part)
    .graph-card {
        .trends-graph {
            padding-left: 25px;

            .graph-image {
                width: 85%;
            }

            .graph-help {
                right: 50px;
            }
        }

        .stats {
            right: 10px;
            height: 100%;

            .list-group-item {
                padding: 1.56rem 0;
            }

            .list-group-item:first-child {
                border-top-right-radius: 8px;
            }
            .list-group-item:last-child {
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 0px;
            }
        }
    }         


    // styling for bottom part
    .bottom-section {
        padding-bottom: 20px;
        top: 0px;
    }



}
